
@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(80px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes pop {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-fade-in-up {
  animation: fade-in-up 1.2s ease-out forwards;
}

.animate-slide-up {
  animation: slide-up 1.4s ease-out forwards;
}

.animate-pop {
  animation: pop 1s ease-out;
}

.shadow-3d-btn {
  box-shadow: 6px 6px 12px #260B01, -6px -6px 12px #734226;
}

.shadow-3d-card {
  box-shadow: 12px 12px 24px #260B01, -12px -12px 24px #734226;
}

.shadow-hard-inset {
  box-shadow: inset 4px 4px 8px #BF8C60, inset -4px -4px 8px #260B01;
}

.drop-shadow-3d {
  text-shadow: 2px 2px 4px #260B01;
}